@import "libs/variables";
@import "libs/reset";
@import "libs/mixins";
@import "libs/polices";
@import "libs/raccourcis";
@import "communs/header";
@import "communs/footer";
@import "communs/overlay";
@import "communs/alertes";
@import "communs/dark_switch";
@import "communs/article";
@import "communs/articleCard";
@import "communs/btn_themes";
@import "pages/accueil";

// *{
//   border : 1px solid red;
// }

body {
  background-color: $blanc;
  color: #333;
  min-height: 100vh;
  // position: relative;
  border-bottom: 1px solid transparent;
  a {
    color: $noir;
  }
}

.darkMode {
  background-color: $noir;
  color: #f1f1f1;

  a {
    color: $blanc;
  }
}

.bodycontent {
  margin-left: 220px;
}

@media all and (max-width : 900px) {
  .bodycontent {
    margin-left: 0px;
  }
}

