/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
label,
input,
button {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: clamp(32px, 24px + 2.2vw, 60px);
  letter-spacing: calc(1px + 0.12vw);
  text-shadow: 1px 1px 2px #222;
}

h2 {
  font-size: clamp(23px, 20px + 1.65vw, 40px);
  letter-spacing: calc(1px + 0.04vw);
  text-shadow: 1px 1px 2px #222;
}

h3 {
  font-size: clamp(20px, 20px + 1vw, 29px);
  letter-spacing: calc(1px + 0.02vw);
  text-shadow: 1px 1px 2px #222;
}

h4,
p {
  font-size: clamp(16px, 14px + 0.6vw, 20px);
  line-height: clamp(20px, 20px + 1vw, 33px);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tac {
  width: 100%;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.container {
  width: 94%;
  margin: 80px auto;
  padding: 10px;
  border: 1px solid #333;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
    margin: 20px auto;
    padding-top: 80px;
  }
}
@media all and (max-width: 900px) {
  .container {
    width: 98%;
    margin: 20px auto;
    padding-top: 80px;
  }
}
.all_themes {
  background: #f08b7b;
}
.all_themes::before {
  background-color: #e75038;
}

.formations {
  background: #fcd279;
}
.formations::before {
  background-color: #fabf41;
}

.rocket {
  background: #fff3ae;
}
.rocket::before {
  background-color: #fae25d;
}

.portfolio {
  background: #bbffbb;
}
.portfolio::before {
  background-color: #77fc77;
}

.fiches {
  background: #a2edff;
}
.fiches::before {
  background-color: #57ddff;
}

.tricks {
  background: #c9b1ff;
}
.tricks::before {
  background-color: #a27aff;
}

.autres {
  background: #ebd8fc;
}
.autres::before {
  background-color: #cf98ff;
}

header {
  height: 100vh;
  width: 220px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entete {
  text-align: center;
}

.btn_menu_responsive {
  font-size: 40px;
  position: fixed;
  top: 20px;
  left: 20px;
  display: none;
  transition: all 0.5s;
  z-index: 5;
}

.btn_menu_responsive_return {
  transform: rotate(180deg) rotateY(360deg);
}

@media all and (max-width: 900px) {
  header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.5s ease-in;
  }
  header h2 {
    margin: 20px 10px;
  }
  .header_open {
    transform: translate(0);
    z-index: 5;
  }
  .btn_menu_responsive {
    display: block;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(241, 241, 241, 0.4);
  z-index: 2;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.darkOverlay {
  background-color: rgba(51, 51, 51, 0.4);
}

.dnone {
  display: none;
}

.alert {
  width: 80%;
  height: 60px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  color: #333;
  text-align: center;
  padding: 5px 0;
  visibility: 1;
  animation: disparitionAlerte 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes disparitionAlerte {
  100% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0 auto;
    visibility: hidden;
  }
}
.rouge {
  background-color: rgb(243, 48, 87);
}

.orange {
  background-color: rgb(255, 150, 14);
}

.vert {
  background-color: greenyellow;
}

.dnone {
  display: none;
}

.dark-switch {
  /* The switch - the box around the slider */
  margin-top: 20px;
  /* Hide default HTML checkbox */
  /* The slider */
}
.dark-switch .switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  z-index: 25;
}
.dark-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}
.dark-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #222;
}
.dark-switch .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}
.dark-switch input:checked + .slider {
  background-color: #222;
  box-shadow: 0px 0px 20px #f1f1f1;
}
.dark-switch input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #222;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

@media screen and (max-width: 900px) {
  .dark-switch .switch {
    transform: scale(0.8);
    top: 20%;
  }
}
article {
  margin-top: 40px;
}
article h1,
article h2 {
  text-align: center;
  margin: 0;
}
article .part {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
}
article .part p {
  width: 50%;
  text-shadow: 1px 1px 2px #f1f1f1;
}
article .part img {
  width: 45%;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #222;
}
article .darkPart p {
  text-shadow: 1px 1px 2px #222;
}
article .darkPart img {
  box-shadow: 2px 2px 20px #f1f1f1;
}
article .part2 {
  margin-top: 50px;
}
article .part2 p {
  text-align: left;
}
article .part2 img {
  left: 0%;
  bottom: 0%;
}

@media screen and (max-width: 900px) {
  article .part1,
  article .part2 {
    flex-direction: column;
    width: 100%;
  }
  article .part1 img,
  article .part2 img {
    width: 100%;
  }
  article .part1 p,
  article .part2 p {
    width: 100%;
    text-align: left;
    margin: 30px 0;
  }
  article .part2 {
    margin-top: 30px;
    flex-direction: column-reverse;
  }
  h1,
  h2 {
    text-align: center;
    margin: 0;
  }
}
.allCards {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  margin: 20px auto;
  gap: 10px;
  max-width: 100%;
  border: 1px solid red;
}

.link_card {
  width: 20vw;
  min-width: 200px;
  max-width: 250px;
  height: 200px;
}

.articleCard {
  width: 100%;
  height: 100%;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 5px #222;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #222;
  cursor: pointer;
}
.articleCard:hover {
  padding: 19px;
  border: 2px solid #f1f1f1;
  box-shadow: 0px 0px 10px #222, 0px 0px 5px #222 inset;
}

@media all and (max-width: 900px) {
  .link_card {
    min-width: 180px;
    width: 18vw;
    max-width: 230px;
    height: 180px;
  }
  .articleCard {
    padding: 10px;
  }
}
@media all and (max-width: 420px) {
  .link_card {
    min-width: 160px;
    width: 35vw;
    max-width: 350px;
    height: 150px;
  }
  .articleCard {
    padding: 5px;
  }
}
@media all and (max-width: 380px) {
  .link_card {
    min-width: 160px;
    width: 90vw;
    max-width: 500px;
    height: 150px;
  }
  .articleCard {
    padding: 5px;
  }
}
.btnThemesContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.btnTheme {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.4s 0.15s ease-out;
}
.btnTheme p {
  position: relative;
  z-index: 5;
}
.btnTheme::before {
  content: "";
  width: 180px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  z-index: 0;
  transform: translate(calc(-150% + clamp(50px, 8%, 75px)), -50%);
  transition: all 0.4s ease-out;
}
.btnTheme:hover {
  font-weight: bold;
  box-shadow: 0px 0px 0px 0px #222;
  letter-spacing: 5px;
}
.btnTheme:hover::before {
  transform: translate(-50%, -50%);
}

.selected_theme {
  font-weight: bold;
  box-shadow: 0px 0px 0px 0px #222;
  letter-spacing: 5px;
}
.selected_theme::before {
  transform: translate(-50%, -50%);
}

.accueil .intro {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.accueil .intro h1 {
  margin-bottom: 10px;
}
.accueil .intro h3 {
  margin-top: 10px;
  width: 100%;
}

body {
  background-color: #f1f1f1;
  color: #333;
  min-height: 100vh;
  border-bottom: 1px solid transparent;
}
body a {
  color: #222;
}

.darkMode {
  background-color: #222;
  color: #f1f1f1;
}
.darkMode a {
  color: #f1f1f1;
}

.bodycontent {
  margin-left: 220px;
}

@media all and (max-width: 900px) {
  .bodycontent {
    margin-left: 0px;
  }
}/*# sourceMappingURL=style.css.map */