@import "libs/variables";
@import "libs/reset";
@import "libs/mixins";
@import "libs/polices";
@import "libs/raccourcis";
@import "libs/container";
@import "libs/themesColors";
@import "communs/header";
@import "communs/footer";
@import "communs/overlay";
@import "communs/alertes";
@import "communs/dark_switch";
@import "communs/articleCard";
@import "communs/btn_themes";
@import "pages/accueil";
@import "templatesArticles/templateArticle1";
@import "templatesArticles/templateArticle2";
@import "templatesArticles/templateArticle3";

// *{
//   border : 1px solid red;
// }

body {
  background: linear-gradient(-12deg, #55555555 20%, #f1f1f1 60%);
  color: #333;
  min-height: 100vh;
  // position: relative;
  border-bottom: 1px solid transparent;
  a {
    color: $noir;
  }
}

.darkMode {
  background: linear-gradient(-12deg, #f1f1f150 0%, #222 30%);
  color: #f1f1f1;

  a {
    color: $blanc;
  }
}

.bodycontent {
  margin-left: 220px;
}

@media all and (max-width : 768px) {
  .bodycontent {
    margin-left: 0px;
  }
}

