/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
label,
input,
button {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: clamp(32px, 24px + 2.2vw, 60px);
  letter-spacing: calc(1px + 0.12vw);
  text-shadow: 1px 1px 2px #222;
}

h2 {
  font-size: clamp(23px, 20px + 1.65vw, 40px);
  letter-spacing: calc(1px + 0.04vw);
  text-shadow: 1px 1px 2px #222;
}

h3 {
  font-size: clamp(20px, 20px + 1vw, 29px);
  letter-spacing: calc(1px + 0.02vw);
  text-shadow: 1px 1px 2px #222;
}

h4 {
  font-size: clamp(18px, 14px + 0.7vw, 22px);
  line-height: clamp(22px, 20px + 1.2vw, 35px);
  text-shadow: 1px 1px 2px #222;
  font-weight: normal;
}

p {
  font-size: clamp(16px, 14px + 0.6vw, 20px);
  line-height: clamp(20px, 20px + 1vw, 33px);
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tac {
  width: 100%;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.container {
  width: 94%;
  margin: 80px auto;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
    margin: 20px auto;
  }
}
@media all and (max-width: 768px) {
  .container {
    width: 98%;
    margin: 20px auto;
    padding-top: 80px;
  }
}
.all_themes {
  background: #f08b7b;
}
.all_themes::before {
  background-color: #e75038;
}

.formations {
  background: #fcd279;
}
.formations::before {
  background-color: #fabf41;
}

.rocket {
  background: #fff3ae;
}
.rocket::before {
  background-color: #fae25d;
}

.portfolio {
  background: #bbffbb;
}
.portfolio::before {
  background-color: #77fc77;
}

.fiches {
  background: #a2edff;
}
.fiches::before {
  background-color: #57ddff;
}

.tricks {
  background: #c9b1ff;
}
.tricks::before {
  background-color: #a27aff;
}

.autres {
  background: #ebd8fc;
}
.autres::before {
  background-color: #cf98ff;
}

header {
  height: 100vh;
  width: 220px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entete {
  text-align: center;
}

.btn_menu_responsive {
  width: 100%;
  height: 50px;
  padding: 5px 20px;
  font-size: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  transition: all 0.5s;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 60px 10px #f1f1f1;
  z-index: 5;
}

.arrow_btn {
  color: #222;
  background-color: #f1f1f1;
  border-radius: 50%;
  transition: all 0.5s;
  border: 2px solid #333;
}

.btn_menu_responsive_dark {
  background-color: #222;
  box-shadow: 0px 0px 60px 10px #222;
}

.arrow_btn_dark {
  color: #f1f1f1;
  background-color: #222;
  border-radius: 50%;
  transition: all 0.5s;
}

.arrow_btn_return {
  transform: rotate(180deg) rotateY(360deg);
}

@media all and (max-width: 768px) {
  header {
    position: fixed;
    top: 40px;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    transform: translateX(-100%);
    transition: all 0.5s ease-in;
  }
  header h2 {
    margin: 10px 10px;
  }
  .header_open {
    transform: translate(0, 10px);
    z-index: 5;
  }
  .btn_menu_responsive {
    display: block;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(241, 241, 241, 0.4);
  z-index: 2;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.darkOverlay {
  background-color: rgba(51, 51, 51, 0.4);
}

.dnone {
  display: none;
}

.alert {
  width: 80%;
  height: 60px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  color: #333;
  text-align: center;
  padding: 5px 0;
  visibility: 1;
  animation: disparitionAlerte 2s 3s;
  animation-fill-mode: forwards;
}

@keyframes disparitionAlerte {
  100% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0 auto;
    visibility: hidden;
  }
}
.rouge {
  background-color: rgb(243, 48, 87);
}

.orange {
  background-color: rgb(255, 150, 14);
}

.vert {
  background-color: greenyellow;
}

.dnone {
  display: none;
}

@media screen and (max-width: 768px) {
  .alert {
    margin-top: 120px;
  }
}
.dark-switch {
  /* The switch - the box around the slider */
  margin-top: 20px;
  /* Hide default HTML checkbox */
  /* The slider */
}
.dark-switch .switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  z-index: 25;
}
.dark-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}
.dark-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #222;
}
.dark-switch .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}
.dark-switch input:checked + .slider {
  background-color: #222;
  box-shadow: 0px 0px 20px #f1f1f1;
}
.dark-switch input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #222;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.allCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 10px;
}

.link_card {
  height: 200px;
  perspective: 1000px;
}

.articleCard {
  width: 100%;
  height: 100%;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 5px #222;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
  color: #222;
  cursor: pointer;
}
.articleCard:hover {
  padding: 19px;
  border: 2px solid #f1f1f1;
  box-shadow: 0px 0px 10px #222, 0px 0px 5px #222 inset;
}

.articleCard_darkMode {
  border: 1px solid #f1f1f1;
  box-shadow: 1px 1px 5px #f1f1f1;
}
.articleCard_darkMode:hover {
  padding: 19px;
  border: 2px solid #222;
  box-shadow: 0px 0px 10px #f1f1f1, 0px 0px 5px #222 inset;
}

.apparitionCard {
  animation: apparitionCard 0.75s -0.1s linear forwards;
  display: none;
}

@keyframes apparitionCard {
  0% {
    transform: scale(0) translateY(50px) rotateY(180deg);
    opacity: 0;
    display: block;
  }
  50% {
    transform: scale(0.25) translateY(100px) rotateY(90deg);
    opacity: 1;
    display: block;
  }
  100% {
    transform: scale(1);
    display: block;
  }
}
.formations_card {
  background: linear-gradient(25deg, #fabf41 20%, #fcd279 100%);
}

.rocket_card {
  background: linear-gradient(25deg, #fae25d 20%, #fff3ae 100%);
}

.portfolio_card {
  background: linear-gradient(25deg, #77fc77 20%, #bbffbb 100%);
}

.fiches_card {
  background: linear-gradient(25deg, #57ddff 20%, #a2edff 100%);
}

.tricks_card {
  background: linear-gradient(25deg, #a27aff 20%, #c9b1ff 100%);
}

.autres_card {
  background: linear-gradient(25deg, #cf98ff 20%, #ebd8fc 100%);
}

@media all and (max-width: 900px) {
  .allCards {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  .link_card {
    height: 180px;
  }
  .articleCard {
    padding: 10px;
  }
}
@media all and (max-width: 520px) {
  .container {
    padding: 50px 0 0;
  }
  .allCards {
    grid-template-columns: repeat(2, 1fr);
  }
  .link_card {
    height: 150px;
  }
  .articleCard {
    padding: 5px;
  }
}
@media all and (max-width: 340px) {
  .allCards {
    grid-template-columns: 1fr;
  }
  .link_card {
    height: 100px;
  }
}
.btnThemesContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  position: relative;
}

.btnTheme {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.4s 0.15s ease-out;
}
.btnTheme p {
  position: relative;
  z-index: 5;
}
.btnTheme::before {
  content: "";
  width: 180px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  z-index: 0;
  transform: translate(calc(-150% + clamp(50px, 8%, 75px)), -50%);
  transition: all 0.4s ease-out;
}
.btnTheme:hover {
  font-weight: bold;
  box-shadow: 0px 0px 0px 0px #222;
  letter-spacing: 5px;
}
.btnTheme:hover::before {
  transform: translate(-50%, -50%);
}

.selected_theme {
  font-weight: bold;
  box-shadow: 0px 0px 0px 0px #222;
  letter-spacing: 5px;
}
.selected_theme::before {
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
  .btnThemesContainer {
    padding-top: 2vh;
    justify-content: start;
    gap: 3vh;
  }
}
.sliderArticle {
  margin: 40px auto 120px;
  width: 85vw;
  max-width: 600px;
  height: 85vw;
  max-height: 600px;
  position: relative;
  border-radius: 24%;
}

.imgSlider {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
  transition: all 0.33s ease-in-out;
  border-radius: 24% !important;
  box-shadow: 0px 0px 30px #333 !important;
}

.imgSliderActive {
  opacity: 1;
}

.flecheSliderBox {
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #222;
  background-color: #f1f1f1;
  border-radius: 50px;
  border: 5px solid #222;
  font-size: 50px;
  color: #222;
  transition: all 0.5s;
}

.flecheSliderBox_darkMode {
  box-shadow: 0px 0px 10px #f1f1f1;
  text-shadow: 0px 0px 8px #f1f1f1;
  background-color: #222;
  border: 5px solid #f1f1f1;
  color: #f1f1f1;
}

.flecheSlider {
  cursor: pointer;
}

.tiretsSlider {
  position: absolute;
  width: 80%;
  height: 12px;
  background-color: transparent;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  border-radius: 10px;
}

.tiretSlider {
  width: 100%;
  height: 100%;
  border: 1px solid violet;
  background-color: #222;
  border-radius: 20px;
  transition: all 0.15s ease-in-out;
}

.tiretSliderActive {
  background-color: white;
  box-shadow: 0px 0px 20px 5px violet;
}

@media screen and (max-width: 900px) {
  .sliderArticle {
    width: 75vw;
    max-width: 500px;
    height: 75vw;
    max-height: 500px;
  }
}
@media all and (max-width: 768px) {
  .sliderArticle {
    margin: 40px auto 120px;
    width: 85vw;
    max-width: 600px;
    height: 85vw;
    max-height: 600px;
    position: relative;
  }
}
.accueil .intro {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.accueil .intro h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.accueil .intro h3 {
  margin-top: 10px;
  width: 100%;
}

.containerForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.entryForm {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 10px;
  padding: 15px 10px;
  background: linear-gradient(34deg, rgba(234, 0, 255, 0.9) 0%, rgba(238, 184, 6, 0.9) 80%);
}
.entryForm label {
  color: #222;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: clamp(16px, 14px + 0.6vw, 20px);
  line-height: clamp(20px, 20px + 1vw, 33px);
}
.entryForm input,
.entryForm select,
.entryForm textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
.entryForm .texteArticle {
  min-height: 80px;
}
.entryForm button {
  width: clamp(250px, 50%, 80%);
  font-size: 30px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  transition: all 0.3s;
}
.entryForm button p {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(34deg, rgb(234, 0, 255) 0%, rgb(238, 184, 6) 80%);
  color: transparent;
  font-size: clamp(20px, 20px + 1vw, 29px);
  letter-spacing: calc(1px + 0.02vw);
  font-weight: bold;
}
.entryForm button:hover {
  transform: scale(1.02);
  background-color: white;
}

.table {
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  margin: 10px;
  border-radius: 10px;
}
.table h3 {
  margin: 10px;
  margin-left: 50px;
}

.pagesAdmin h1 {
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(34deg, rgb(234, 0, 255) 0%, rgb(238, 184, 6) 80%);
  color: transparent;
  text-shadow: none;
}
.pagesAdmin .btnAdminBox {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
}
.pagesAdmin .btnAdminMiniBox {
  display: flex;
}
.pagesAdmin .btnAdmin {
  padding: 10px 20px;
  background: linear-gradient(34deg, rgb(234, 0, 255) 0%, rgb(238, 184, 6) 80%);
  margin: 20px;
  border-radius: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagesAdmin .btnAdmin:hover {
  font-weight: bold;
}

.infoArticleEnCours {
  margin-bottom: 20px;
}

#btnAddMedia,
#btnAddTxt {
  cursor: pointer;
}

.templateArticle1 {
  margin-top: 40px;
}
.templateArticle1 h1,
.templateArticle1 h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}
.templateArticle1 .part {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
  margin-bottom: 30px;
}
.templateArticle1 .part p {
  width: 50%;
  text-shadow: 1px 1px 2px #f1f1f1;
  line-height: 35px;
}
.templateArticle1 .part a {
  width: 45%;
  max-width: 500px;
}
.templateArticle1 .part img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #222;
}
.templateArticle1 .darkPart p {
  text-shadow: 1px 1px 2px #222;
}
.templateArticle1 .darkPart img {
  box-shadow: 2px 2px 20px #f1f1f1;
}
.templateArticle1 .part2 {
  margin-top: 50px;
}
.templateArticle1 .part2 p {
  text-align: left;
}
.templateArticle1 .part2 img {
  left: 0%;
  bottom: 0%;
}

@media screen and (max-width: 900px) {
  .templateArticle1 {
    width: 96%;
    margin: 0 auto;
  }
  .templateArticle1 .part1,
  .templateArticle1 .part2 {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .templateArticle1 .part1 img,
  .templateArticle1 .part2 img {
    width: 100%;
  }
  .templateArticle1 .part1 p,
  .templateArticle1 .part2 p {
    width: 100%;
    text-align: left;
    margin: 30px;
    padding: 10px;
  }
  .templateArticle1 .part2 {
    flex-direction: column-reverse;
  }
  .templateArticle1 .part2 p {
    margin-top: 0px;
  }
  h1,
  h2 {
    text-align: center;
    margin: 0;
  }
}
.templateArticle2 {
  margin-top: 80px;
}
.templateArticle2 h1,
.templateArticle2 h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}
.templateArticle2 h2 {
  text-align: left !important;
}
.templateArticle2 a {
  cursor: pointer;
}
.templateArticle2 .part {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 5%;
  margin-bottom: 30px;
}
.templateArticle2 .part p {
  width: 100%;
  text-shadow: 1px 1px 2px #f1f1f1;
  line-height: 35px;
}
.templateArticle2 .part img {
  width: 50vw !important;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #222;
  max-width: 900px;
}
.templateArticle2 .part a {
  margin: 0 auto;
}
.templateArticle2 .darkPart p {
  text-shadow: 1px 1px 2px #222;
}
.templateArticle2 .darkPart img {
  box-shadow: 2px 2px 20px #f1f1f1;
}
.templateArticle2 .part2 {
  margin-top: 50px;
}
.templateArticle2 .part2 p {
  text-align: left;
}
.templateArticle2 .part2 img {
  left: 0%;
  bottom: 0%;
}

@media screen and (max-width: 900px) {
  .templateArticle2 {
    width: 96%;
    margin: 0 auto;
  }
  .templateArticle2 .part {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .templateArticle2 .part p {
    width: 100%;
    text-align: left;
    margin: 0px;
    padding: 10px;
  }
  .templateArticle2 .part a {
    margin: 0 auto;
  }
  .templateArticle2 .part2 {
    flex-direction: column-reverse;
  }
  .templateArticle2 .part2 p {
    margin-top: 0px;
  }
  h1,
  h2 {
    text-align: center;
    margin: 0;
  }
}
.iframeVideo {
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .templateArticle2 .part img {
    width: 66vw !important;
  }
}
.templateArticle3 {
  margin-top: 80px;
}
.templateArticle3 h1,
.templateArticle3 h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}
.templateArticle3 a {
  cursor: pointer;
}
.templateArticle3 .part {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 5%;
  margin-bottom: 30px;
}
.templateArticle3 .part p {
  width: 100%;
  text-shadow: 1px 1px 2px #f1f1f1;
  line-height: 35px;
}
.templateArticle3 .part img {
  width: 66vw;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #222;
}
.templateArticle3 .darkPart p {
  text-shadow: 1px 1px 2px #222;
}
.templateArticle3 .darkPart img {
  box-shadow: 2px 2px 20px #f1f1f1;
}
.templateArticle3 .part2 {
  margin-top: 50px;
}
.templateArticle3 .part2 p {
  text-align: left;
}
.templateArticle3 .part2 img {
  left: 0%;
  bottom: 0%;
}

@media screen and (max-width: 900px) {
  .templateArticle3 {
    width: 96%;
    margin: 0 auto;
  }
  .templateArticle3 .part1,
  .templateArticle3 .part2 {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .templateArticle3 .part1 img,
  .templateArticle3 .part2 img {
    width: 100%;
  }
  .templateArticle3 .part1 p,
  .templateArticle3 .part2 p {
    width: 100%;
    text-align: left;
    margin: 30px;
    padding: 10px;
  }
  .templateArticle3 .part2 {
    flex-direction: column-reverse;
  }
  .templateArticle3 .part2 p {
    margin-top: 0px;
  }
  h1,
  h2 {
    text-align: center;
    margin: 0;
  }
}
.btnDelete {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: red;
  color: white;
  border: 3px solid black;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

body {
  background: linear-gradient(-12deg, rgba(153, 153, 153, 0.3333333333) 20%, #f1f1f1 60%);
  color: #333;
  min-height: 100vh;
  border-bottom: 1px solid transparent;
}
body a {
  color: #222;
}

.darkMode {
  background: linear-gradient(-12deg, rgba(153, 153, 153, 0.5647058824) 0%, #222 30%);
  color: #f1f1f1;
}
.darkMode a {
  color: #f1f1f1;
}

.bodycontent {
  margin-left: 220px;
}

@media all and (max-width: 768px) {
  .bodycontent {
    margin-left: 0px;
  }
}/*# sourceMappingURL=style.css.map */