.accueil {
  .intro {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }
    h3 {
      margin-top: 10px;
      width: 100%;
    }
  }

}
.btnThemesContainer {
  width: 100%;
  @include flexMid;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 40px;
  // border : 1px solid #333;
}

.btnTheme {
  width: 100px;
  @include flexMid;
  padding: 5px 10px;
  border: 0.5px solid $noir;
  border-radius: 5px;
  cursor: pointer;
  // box-shadow:  0px 0px 2px $noir;
  // transition: all 0.5s;

  &:hover {
  //   font-weight: bold;
    padding: 4px;
    border: 1px solid $blanc;
    // box-shadow: 0px 0px 10px 5px $noir, 0px 0px 5px 3px $noir inset;
  }
}

@media screen and (max-width: 900px) {   


};