.allCards{
    display: flex;
    margin: 20px 0;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}



.formations_sources{
    background: rgb(74, 237, 255);
}
.rocket{
    background:  rgb(149, 123, 255);
}
.portfolio{
    background: rgb(2, 228, 28) ;
}
.fiches{
    background:  $blanc;
}
.tricks{
    background: $orange;
}
.autres{
    background: rgb(255, 28, 54);
}




.articleCard{
    width: 280px;
    height: 200px;
    border : 1px solid $noir;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 5px $noir;
    flex-shrink:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    color : $noir;
    cursor: pointer;

    &:hover {
        //   font-weight: bold;
          padding: 19px;
          border: 2px solid $blanc;
          box-shadow: 0px 0px 10px $noir, 0px 0px 5px $noir inset;
        }


}