.allCards {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  margin: 20px auto;
  gap: 10px;
  max-width: 100%;
  border: 1px solid red;

}


.link_card {
  width: 20vw;
  min-width: 200px;
  max-width: 250px;
  height: 200px;
}

// .spacer_articles{
//   background-color: gray;
//   height: 200px;
//   flex-grow: 1;
// }

.articleCard {
  width: 100%;
  height: 100%;
  border: 1px solid $noir;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 5px $noir;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $noir;
  cursor: pointer;

  &:hover {
    //   font-weight: bold;
    padding: 19px;
    border: 2px solid $blanc;
    box-shadow: 0px 0px 10px $noir, 0px 0px 5px $noir inset;
  }
}

@media all and (max-width: 900px) {
  .link_card {
    min-width: 180px;
    width: 18vw;
    max-width: 230px;
    height: 180px;
  }
  .articleCard {
    padding: 10px;
  }
}
@media all and (max-width: 420px) {
  .link_card {
    min-width: 160px;
    width: 35vw;
    max-width: 350px;
    height: 150px;
  }
  .articleCard {
    padding: 5px;
  }
}
@media all and (max-width: 380px) {
  .link_card {
    min-width: 160px;
    width: 90vw;
    max-width: 500px;
    height: 150px;
  }
  .articleCard {
    padding: 5px;
  }
}
