article {
  margin-top: 40px;

  h1,
  h2 {
    text-align: center;
    margin: 0;
  }

  .part {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5%;
    // border: 1px solid #333;
    p {
      width: 50%;
      text-shadow: 1px 1px 2px $blanc;
    }

    img {
      width: 45%;
      border-radius: 10px;
      box-shadow: 2px 2px 20px $noir;
    }
  }
  .darkPart {
    p {
      text-shadow: 1px 1px 2px $noir;
    }
    img {
      box-shadow: 2px 2px 20px $blanc;
    }
  }

  .part2 {
    margin-top: 50px;
    p {
      text-align: left;
    }
    img {
      left: 0%;
      bottom: 0%;
    }
  }
}

@media screen and (max-width: 900px) {
  article.container {
    width: 100%;
    padding: 5px;
  }
  article {
    .part1,
    .part2 {
      flex-direction: column;
      width: 100%;

      img {
        width: 100%;
      }
      p {
        width: 100%;
        text-align: left;
        margin: 30px 0;
      }
    }
    .part2 {
      margin-top: 30px;

      flex-direction: column-reverse;
    }
  }
  h1,
  h2 {
    text-align: center;
    margin: 0;
  }
}
