.containerForm{
    display: flex;
    flex-direction: column;
}

.entryForm{
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    gap: 5px;
    border : 1px solid violet;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(-12deg, #444 00%, #aaa 100%);

    label{
        color:$noir
    }

    input, select{
        width: 100%;
        min-width: 300px;
        border-radius: 5px;
        padding: 5px;
        outline: none;
    }

    .texteArticle{
        min-height: 80px;
    }


}